<footer class="mdl-mini-footer footer-padding">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="mdl-mini-footer__left-section container-full-width">
    <div class="mdl-logo footer-margin">
      <span class="footer-entry-padding">
        <a href="https://drbv.de/cms/index.php/impressum">Impressum</a>
      </span>
      <span class="footer-entry-padding">
        <a href="https://drbv.de/cms/index.php/datenschutz">Datenschutz</a>
      </span>
      <span>
        <a href="https://drbv.de/cms/index.php/kontakt">Kontakt</a>
      </span>
    </div>
    <div class="mdl-logo footer-margin">
      <span>{{getVersionText()}}</span>
    </div>
  </div>
</footer>
