<div class="container">

  <button mat-flat-button color="primary" (click)="fileInput.click()">
    <span>Hinzufügen</span>
    <input #fileInput type="file" (change)="onFileInput($event)" style="display:none;"/>
  </button>


  <mat-list>
    <h3 mat-subheader>Dateien</h3>
    <mat-list-item *ngFor="let file of getFiles()">
      <mat-icon mat-list-icon>music_note</mat-icon>
      <h4 mat-line>{{file.name}}</h4>
      <p mat-line> {{file.lastModified | date}} Lieder</p>
    </mat-list-item>
  </mat-list>

</div>
