<div fxLayout="column wrap" fxLayoutAlign="center center" class="container-full-width default-padding-top default-padding-bottom">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Hochgeladene Dateien</mat-card-title>
      <mat-card-subtitle>Bitte fügen Sie weitere Dateien hinzu</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-selection-list color="primary" #selectionList>
        <mat-list-option *ngFor="let file of getFiles()" [value]="file">
          <mat-icon mat-list-icon>music_note</mat-icon>
          <h4 mat-line>{{getCompetion(file)}}</h4>
          <p mat-line> {{getNumberOfSongs(file)}} Lieder <span *ngIf="getNumberOfTeams(file)">{{getNumberOfTeams(file)}} Teams</span></p>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
    <div fxLayout.gt-sm="row wrap" fxLayoutAlign.gt-sm="start center" fxLayout.xs="column wrap" fxLayoutAlign.xs="center center">
      <div ngClass.gt-xs="custom-mat-button-container-padding" ngClass.xs="custom-mat-button-container-padding-xs">
        <button mat-stroked-button
                ngClass.xs="custom-mat-button-xs"
                ngClass.gt-xs="custom-mat-button-default"
                color="primary"
                (click)="fileInput.click()">
          <span fxLayout="row" class="container-full-width" fxLayoutAlign="space-around center">
            <div>Hinzufügen</div>
            <mat-icon>add</mat-icon>
          </span>
          <input #fileInput type="file" (change)="addFile($event)" style="display:none;"/>
        </button>
      </div>
      <div ngClass.gt-xs="custom-mat-button-container-padding" ngClass.xs="custom-mat-button-container-padding-xs custom-mat-button-padding-top-xs">
        <button mat-stroked-button
                ngClass.xs="custom-mat-button-xs"
                ngClass.gt-xs="custom-mat-button-default"
                (click)="downloadSelectedItems()"
                [disabled]="disableDownloadButton()">
          <span fxLayout="row" class="container-full-width" fxLayoutAlign="space-around center">
            <div>Download</div>
            <mat-icon>cloud_download</mat-icon>
          </span>
        </button>
      </div>
      <div ngClass.gt-xs="custom-mat-button-container-padding" ngClass.xs="custom-mat-button-container-padding-xs custom-mat-button-padding-top-xs">
        <button mat-stroked-button
                ngClass.xs="custom-mat-button-xs"
                ngClass.gt-xs="custom-mat-button-default"
                color="warn"
                (click)="deleteSelectedItems()"
                [disabled]="disableDeleteButton()">
          <span fxLayout="row" class="container-full-width" fxLayoutAlign="space-around center">
            <div>Löschen</div>
            <mat-icon>delete</mat-icon>
          </span>
        </button>
      </div>
    </div>
  </mat-card>

</div>
