<mat-card>
  <mat-card-header class="custom-dialog-header-width">
    <mat-card-title>
      Disclaimer
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p aria-multiline="true">
      Die mit diesem Downloader veröffentlichten Titel unterliegen dem deutschen Urheber- und Leistungsschutzrecht. Dies gilt insbesondere für Vervielfältigung, Bearbeitung, Übersetzung, Einspeicherung, Verarbeitung bzw. Wiedergabe von Titeln in Datenbanken oder anderen elektronischen Medien und Systemen. Die unerlaubte Vervielfältigung oder Weitergabe einzelner Titel oder kompletten Downloads ist nicht gestattet und strafbar.
    </p>
    <p aria-multiline="true">
      Lediglich die Herstellung von Kopien und Downloads für den nicht kommerziellen Gebrauch auf entsprechenden DRBV Turnieren ist erlaubt.
    </p>
  </mat-card-content>

  <div fxLayout="row wrap" fxLayoutAlign="end center">
    <button mat-stroked-button
            class="custom-mat-button-default"
            color="primary"
            (click)="close()">
          <span fxLayout="row" class="container-full-width" fxLayoutAlign="space-around center">
            <div>Akzeptieren</div>
          </span>
    </button>
  </div>

</mat-card>
