<mat-card>
  <mat-card-header class="custom-dialog-header-width">
    <mat-card-title>
      Disclaimer
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p aria-multiline="true">
      Hier steht der Disclaimer-Text
    </p>
  </mat-card-content>

  <div fxLayout="row wrap" fxLayoutAlign="end center">
    <button mat-stroked-button
            class="custom-mat-button-default"
            color="primary"
            (click)="close()">
          <span fxLayout="row" class="container-full-width" fxLayoutAlign="space-around center">
            <div>Akzeptieren</div>
          </span>
    </button>
  </div>

</mat-card>
