/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container-full-height
{
  height: 100%;
}

.container-full-width
{
  width: 100%;
}

.custom-mat-button-xs {
  width: 240px;
  padding: 0 8px;
}

.custom-mat-button-default {
  width: 180px;
  margin: 0 8px;
}

.custom-mat-button-container-padding {
  padding-left: 24px;
}

.custom-mat-button-container-padding-xs {
  padding-left: 12px;
}

.custom-mat-button-padding-top-xs {
  padding-top: 12px;
}

.default-padding-top {
  padding-top: 24px;
}

.default-padding-bottom {
  padding-bottom: 24px;
}

.container-overflow-auto {
  overflow: auto;
}

.container-overflow-forbid {
  overflow: hidden;
}

.default-title-logo-xs {
  width: 90vw;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

.mobile-dialog-container {
  max-width: 100% !important;
  max-height: 100% !important;
}

.mobile-dialog-container .mat-dialog-container {
  padding: 0;
}

.mat-card-header .mat-card-header-text {
  margin-left: 0;
}
